<head>
  <title>appwall</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <h1 class="center-align">Welcome to my APPWALL!</h1>
    <div class="container">
  {{> loginButtons}}
  {{> form}}
  {{> posts}}
    </div>
</body>


