<template name="form">
    <form>
        <input type="file"/>
        <div>
            <button class="center-button waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
            <div class="grid-item">
                {{updateMasonry}}
                <img src="{{this.url}}"/>
            </div>
        {{/each}}
    </div>
</template>